*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* new font for youtube logo  */
@font-face{
    font-family: "kenyan-coffee-bd";
    src: url("resources/font/kenyan coffee bd.ttf") format("truetype");
}

/* top navigation bar style */
.nav-bar{
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
}
/* style icons */
.nav-section{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 5px;
}
/* hamburger menu */
.hamburger-menu{
    margin: 20px;
    font-size: larger;
}

/* style logo */
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 30px;
    margin: 0 20px;

}
/* .logo-icon{} */
.logo-name{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -2px;
    font-family: 'kenyan-coffee-bd',sans-serif;
}
/* icon section 2 */
.middle-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
}
.search-box{
    border: 1px solid #D3D3D3;
    width: 530px;
    height: 40px;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    margin-left: 13%;
    font-size: large;

}
.search-icon{
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
    width: 70px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    padding: 5px 20px;
}
.mic-icon-box{
    background-color: #F8F8F8;
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mic-icon{
    width: 20px;
    height: 20px;
}
/* top right section icons */
.right-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: fixed;
    right: 20px;
    margin-right: 2%;
    gap: 30px;
}
.create-icon{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
}
.bell-icon{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 4px;
    /* border: 1px solid black; */
}

/* style suggestion and filter section */
.top-suggestion{
    /* border: 1px solid green;
    background-color: green; */
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    margin-left:85px ;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item{
    list-style: none;
   background-color:#f1f1f1;
    border-radius: 8px;
    padding: 8px;
    margin-left: 10px;
}
.nav-item.first{
    background-color: black;
    color: white;
}
.right-arrow{
    width: 25px;
    height: 25px;
}
.side-navbar{
    border: 1px solid black;
    position: fixed;
    left: 0;
    margin-top: 80px;
    width: 80px;
    height: 100%;
}
@media (max-width: 768px) {
    .side-navbar {
        display: none;
    }
}
/* style side nav bar */
/* style icons */
.side-bar{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.side-bar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
a{
    text-decoration: none;
}
.icon-name{
    color: black;
    font-size: 10px;
}

.sidebar-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.sidebar-icon:active{
    color: white;
}

/* .main-section{

} */