*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* new font for youtube logo  */
@font-face{
    font-family: "kenyan-coffee-bd";
    src: url("resources/font/kenyan coffee bd.ttf") format("truetype");
}

/* top navigation bar style */
/* .nav-bar{
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: white;
    z-index: 2;
} */
/* style icons */
.nav-section{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1;
    /* margin-bottom: 35px; */
}
/* hamburger menu */
.hamburger-menu{
    margin: 10px 20px;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 30px;
}
/* style youtube logo  */
.logo-icon{
    width: 90px;
    height: 30px;
    margin: 0 15px;
}
/* icon section 2 */
.middle-icon{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
}
.search-box{
    border: 1px solid #D3D3D3;
    width: 530px;
    height: 40px;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    margin-left: 13%;
    font-size: large;

}
.search-icon{
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
    width: 70px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    padding: 5px 20px;
}
@media (max-width: 768px) {
    .search-box {
        display: none;
    }
    .search-icon{
        background-color: white;
        border: 0px solid;
        width: 40px;
        height: 35px;
        padding: 5px 0px;
    }
}
.mic-icon-box{
    background-color: #F8F8F8;
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mic-icon{
    width: 20px;
    height: 20px;
}
/* top right section icons */
.right-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    margin-right: 2%;
    gap: 30px;
}
.create-icon{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
}
.bell-icon{
    width: 23px;
    height: 23px;
    /* border: 1px solid black; */
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 4px;
    /* border: 1px solid black; */
}

/* style suggestion and filter section */
.top-suggestion{
    /* border: 1px solid green; */
    position: fixed;
    top: 50px;
    right: 40px;
    height: 45px;
    width: 90%;
    left:85px ;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 10px;
    z-index: 2;
    background-color: white;
}
.nav-list{
    display: flex;
    justify-content:first baseline;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
   
}
.nav-item{
    list-style: none;
    background-color:#f1f1f1;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 15px;
    margin-left: 10px;
    white-space: nowrap;
}
.nav-item.first{
    background-color: black;
    color: white;
}
a{
    color: inherit;
}
.right-arrow{
    width: 25px;
    height: 25px;
}
@media (max-width: 768px) {
    .side-navbar {
        display: none;
    }
    .right-icons{
        gap: 10px;
    }
    .middle-icon{
        margin-left: 80px;
    }
    .mic-icon-box{
        background-color: white;
    }
}
/* style side nav bar */
/* style icons */
.side-navbar{
    /* border: 1px solid black; */
    position: fixed;
    left: 0;
    top: 65px;
    width: 70px;
}
.side-bar{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* row-gap: 5px; */
    /* align-items: center; */
}

.side-bar-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    row-gap: 5px;
    padding: 15px 5px;
    margin-left: 10px;
}
.side-bar-item:hover{
    background-color: #e8e4e4;
    border-radius: 0.5rem;
    /* margin: 5px 5px; */
}
a{
    text-decoration: none;
}
.icon-name{
    color: black;
    font-size: 10px;
}
.sidebar-icon{
    width: 24px;
    height: 24px;
}
.sidebar-icon:active{
    color: black;
    opacity: 1;
}
svg{
    fill:currentColor
}

/* style main video section  */
.videos.first{
    margin-top: 130px;
}
.videos{
    margin-left: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.video-container{
    display: flex;
    flex-direction: column;
}
.thumbnail{
    position: relative;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    margin: 0.3rem 0.1rem;
    color: white;
    font-size: 0.95rem;
}
.thumbnail-image{
    border-radius: 0.6rem;
}
.video-bottom-section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.channel-icon{
    border-radius: 50%;
}
.video-detail{
    display: flex;
    flex-direction: column;
}
.video-title{
    font-weight: 700;
    height: 36px;
    max-width: 250px;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
    overflow:hidden;
}
.channel-name ,.meta-data{
    font-weight: 100;
    font-size: 0.75rem;
    color:rgba(0, 0, 0, 0.85);
}
hr{
    margin:2.5rem 40px 3rem 100px;
    position: relative;
    border: none;
    height: 0.3rem;
    background: rgb(228, 227, 227);
}
@media (max-width: 768px) {
    .videos{
        /* margin: 0; */
        display: flex;
        justify-content:flex-start;
        /* width: 100px; */
    }
    .top-suggestion{
        left: 0;
        margin-left: 10px;
    }
    
    
}